.home-container {
  max-width: 100%;
  height: 591px;
  padding: 192px 56px 0px 56px;
  gap: 20px;
  background: #635bff;
  display: flex;
  justify-content: space-between;
  align-items: end;
  // flex-direction: column;
  //   flex-wrap: wrap;
  & .left-box {
    width: 100%;
    height: 591px;
    // padding: 192px 56px 0px 56px;
    gap: 20px;
    // background: red;
    display: flex;
    align-items: end;

    & .text_btn_container {
      display: flex;
      //   flex-wrap: wrap;
      //   overflow: hidden;
      flex-direction: column;
      //   align-items: baseline;
      //   width: 654px;
      height: 399px;
      //   padding: 0px 0px 192px 0px;
      //   gap: 32px;
      //   background: lightblue;

      & .text-box {
        min-width: 454px;
        display: flex;
        // flex-wrap: nowrap;
        // overflow: hidden;
        // height: 219px;
        padding-bottom: 20px;
        color: #ffffff;
        // background-color: aquamarine;

        & h2 {
          font-family: var(--text-font-family);
          font-size: 68px;
          font-weight: 700;
          line-height: 73px;
          letter-spacing: 0px;
          // text-align: left;
        }
      }
      & .button-box {
        width: 142px;
        height: 56px;
        padding: 16px;
        gap: 8px;
        border-radius: 8px;
        border: 1px;
        background: #ffffff;
        & p {
          //styleName: Links/Button;
          font-family: var(--font-family-arabic);
          font-size: 16px;
          font-weight: 700;
          line-height: 24px;
          letter-spacing: 0px;
          text-align: center;
        }
      }
    }
  }
  & .right-box {
    width: 100%;
    height: 591px;
    padding: 162px 56px 0px 56px;
    gap: 20px;
    // background: rgb(70, 189, 229);
    display: flex;
    justify-content: center;

    & .phone_img {
      // position: absolute;
      width: 368px;
      height: 589px;
      // top: 162px;
      // left: 934px;
      display: flex;
      justify-content: center;
      // align-items: center;

      // background: rgb(33, 194, 28);
      & img {
        // display: none;
        // object-fit: fill;
        width: 291.53px;
        // height: 589px;
        // top: 162px;
        // left: 972px;
      }
    }
    & .card_img {
      position: absolute;
      // width: 368px;
      // height: 233.56px;
      // top: 206px;
      // left: 934px;
      padding-top: 45px;
      & img {
        // object-fit: fill;
        width: 368px;
        height: 233.56px;
        // top: 206px;
        // left: 934px;
      }
    }
  }
}

@media screen and (max-width: 1064px) {
  .home-container {
  padding: 192px 16px 0px 16px;
     & .left-box {
       & .text_btn_container {
         & .text-box {
           min-width: 300px;
         }
       }
       & .phone_img {
         & img {
           width: 291.53px;
         }
       }
     }
     & .right-box {
       & .card_img {
         & img {
           width: 368px;
           height: 233.56px;
         }
       }
     }
   }
 }
 @media screen and (max-width: 980px) {
  .home-container {
    max-width: 100%;
    height: 100%;
    padding: 46px 16px 0px 16px;
    gap: 20px;
    background: #635bff;
    display: flex;
    justify-content: baseline;
    align-items: baseline;
    flex-direction: column;
    & .left-box {
      width: 100%;
      height: auto;
      padding: 152px 16px 20px 16px;
      gap: 20px;
      // background: red;
      display: flex;
      align-items: baseline;
  
      & .text_btn_container {
        display: flex;
        //   flex-wrap: wrap;
        //   overflow: hidden;
        flex-direction: column;
        //   align-items: baseline;
        //   width: 654px;
        height: auto;
        //   padding: 0px 0px 192px 0px;
        //   gap: 32px;
          // background: lightblue;
  
        & .text-box {
          min-width: 340px;
          display: flex;
          // flex-wrap: nowrap;
          // overflow: hidden;
          // height: 219px;
          padding-bottom: 20px;
          color: #ffffff;
          // background-color: aquamarine;
  
          & h2 {
            font-family: var(--text-font-family);
            font-size: 60px;
            font-weight: 700;
            line-height: 73px;
            letter-spacing: 0px;
            // text-align: left;
          }
        }
        & .button-box {
          width: 142px;
          height: 56px;
          padding: 16px;
          gap: 8px;
          border-radius: 8px;
          border: 1px;
          background: #ffffff;
          & p {
            //styleName: Links/Button;
            font-family: var(--font-family-arabic);
            font-size: 16px;
            font-weight: 700;
            line-height: 24px;
            letter-spacing: 0px;
            text-align: center;
          }
        }
      }
    }
    & .right-box {
      width: 100%;
      height: 100%;
      padding: 0px 16px 40px 16px;
      gap: 20px;
      // background: rgb(70, 189, 229);
      display: flex;
      justify-content: center;
  
      & .phone_img {
        // position: absolute;
        width: 368px;
        height: 589px;
        // top: 162px;
        // left: 934px;
        display: flex;
        justify-content: center;
        // align-items: center;
  
        // background: rgb(33, 194, 28);
        & img {
          // display: none;
          // object-fit: fill;
          width: 291.53px;
          // height: 589px;
          // top: 162px;
          // left: 972px;
        }
      }
      & .card_img {
        position: absolute;
        // width: 368px;
        // height: 233.56px;
        // top: 206px;
        // left: 934px;
        padding-top: 45px;
        & img {
          // object-fit: fill;
          width: 368px;
          height: 233.56px;
          // top: 206px;
          // left: 934px;
        }
      }
    }
  }
 }