.navbar {
    width: 100%;
    position: absolute;
    height: 100px;
    z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 56px 30px 56px;
  background: var(--nav-bg-clr);
  height: 100px;
  color: #ffffff;
  & .logo-hamburger-container {
    & .logo {
      width: 140px;
      height: 40px;
      // background-color: aqua;
    //   color: #ffffff;
      display: flex;
      align-items: center;
      // justify-content: center;
    }
    & .hamburger {
      display: none;
    }
  }

  & .nav_items {
    // background-color: aqua;
    & ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 40px;
      padding: 8px;
      & .menuNavigation8 {
        padding-right: 0px;
      }
      & li {
        // color: #ffffff;
        height: 40px;
        padding: 8px;
        gap: 16px;
        list-style: none;
        & p {
          padding: 4px;
          gap: 4px;
          // background-color: aqua;
          font-family: var(--font-family-arabic);
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0px;
          // text-align: right;
          cursor: pointer;
        }
      }
    }
  }
}
.scrolled {
    width: 100%;
    position: fixed;    
    height: 100px;
    z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 56px 30px 56px;
  background: var(--nav-bg-scroll-clr);
  height: 100px;
  color:black;
}
// @media screen and (max-width: 1280px) {}
@media screen and (max-width: 1064px) {
  .navbar {
    padding: 30px 16px 30px 16px;
    .logo {
    }
    .nav_items {
      & ul {
        & .menuNavigation8 {
            padding-right: 2px;
          }
        & li {
          & p {
            padding: 0px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 980px) {
  .navbar {
    padding: 30px 32px 30px 32px;
    flex-direction: column;
    & .logo-hamburger-container {
      display: flex;
      width: 100%;
      flex-grow: 1;
      justify-content: space-between;
      align-items: center;

      & .logo {
      }
      & .hamburger {
        display: flex;
      }
    }
    & .nav-open {
      display: none;
    }
    & .nav_items {
        // transition: transform 0.3s ease-in-out;
        transform: translateY(9%);
      & ul {
        flex-direction: column;
        width: 100vw;
        background-color: var(--nav-bg-clr);
        height: 100%;

        & .menuNavigation8 {
            padding-right: 3px;
          }

        & .li {
          color: #ffffff;
          //   display: none;
          & .p {
          }
        }
      }
    }
  }
}
