@import url(https://db.onlinewebfonts.com/c/cd89360580e32d720eba8c0bfde221a0?family=Avantt);
@import "./components/navbar/navbar.scss";
@import "./components/homepage/home.scss";
@import "./components/Feature/feature.scss";
@import "./components/howItsWork/howItsWork.scss";
@import "./components/group118/group.scss";
@import "./components/becomeAPartner/becomeAPartner.scss";
@import "./components/blog/sectionBlog.scss";
@import "./components/newsLetter/newsLetter.scss";
@import "./components/footer/footer.scss";
*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color:#ffffff;
  // width: 100vw;
//   width: 1440px;
// height: 3965px;
font-family: var(--font-family-arabic);
}


:root {
  --font-family-arabic: "IBM Plex Sans Arabic",sans-serif;
  --text-font-family: Avantt Bold;
  --nav-bg-clr: #635bff; /* Default value */
  --nav-bg-scroll-clr:#ffffff; /* Default value */
  
}